# GraphQL API Endpoints
VITE_APPSYNC_GRAPHQL_ENDPOINT=
VITE_APPSYNC_URL=

# Authentication Details (use API Key or Auth Token depending on your security setup)
VITE_APPSYNC_API_KEY=
VITE_APPSYNC_AUTH_TOKEN=
